@import "tailwindcss";

/* @theme {
  --font-Oswald: "Oswald", "sans-serif";
  --color-primary: #E7B658;
  --color-main: #9f9f9f;
  --color-main-border: #70707033;
  --text-primarySize: 45px;
  --text-paragraph: 20px;
} */

